#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  background-color: var(--background-page);
  padding: 2rem;
  max-width: 960px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  #root {
    padding: 16px;
  }
}

/* @media (prefers-reduced-motion: no-preference) {} */